## Advanced House Price Prediction

### Importing all libraries

In [429]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

#displaying all columns of the dataframe
pd.pandas.set_option("display.max_columns",None)

### Reading the csv file

In [431]:
data = pd.read_csv("ParisHousing.csv")

In [432]:
data.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [433]:
data.shape

(10000, 17)

In [434]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   squareMeters       10000 non-null  int64
 1   numberOfRooms      10000 non-null  int64
 2   hasYard            10000 non-null  int64
 3   hasPool            10000 non-null  int64
 4   floors             10000 non-null  int64
 5   cityCode           10000 non-null  int64
 6   cityPartRange      10000 non-null  int64
 7   numPrevOwners      10000 non-null  int64
 8   made               10000 non-null  int64
 9   isNewBuilt         10000 non-null  int64
 10  hasStormProtector  10000 non-null  int64
 11  basement           10000 non-null  int64
 12  attic              10000 non-null  int64
 13  garage             10000 non-null  int64
 14  hasStorageRoom     10000 non-null  int64
 15  hasGuestRoom       10000 non-null  int64
 16  price              10000 non-null  float64
dtypes: float64(1), int64(16)
memory usage: 1.3 MB

### Extracting values of data present in every column

In [436]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

squareMeters
47831    3
16006    3
36842    3
69665    3
68985    3
        ..
831      1
96352    1
76184    1
62328    1
59036    1
Name: count, Length: 9483, dtype: int64
********************
numberOfRooms
54    129
4     120
22    119
47    118
3     116
     ...
6      85
31     84
34     84
40     82
9      75
Name: count, Length: 100, dtype: int64
********************
hasYard
1    5087
0    4913
Name: count, dtype: int64
********************
hasPool
0    5032
1    4968
Name: count, dtype: int64
********************
floors
97     126
55     122
77     117
28     116
3      116
      ...
48      83
15      83
74      83
100     82
92      75
Name: count, Length: 100, dtype: int64
********************
cityCode
97260    3
95054    3
82521    3
56356    3
39297    3
        ..
90146    1
9439     1
36609    1
88278    1
18412    1
Name: count, Length: 9509, dtype: int64
********************
cityPartRange
8     1035
5     1031
10    1004
4     1001
3      999
9      997
1      994
2      990
7      984
6      965
Name: count, dtype: int64
********************
numPrevOwners
4     1043
9     1036
5     1036
6     1011
10     999
3      991
2      987
7      974
8      971
1      952
Name: count, dtype: int64
********************
made
1992    356
2013    352
2020    336
2018    334
2003    332
2001    332
1996    327
1991    324
2009    324
2011    321
2019    321
1993    320
1998    318
1990    317
1994    312
2014    312
2004    307
2016    307
2012    305
2015    305
2021    304
2007    302
2008    302
1997    296
2006    296
2005    296
2000    295
1999    293
2010    291
2002    290
2017    288
1995    285
Name: count, dtype: int64
********************
isNewBuilt
0    5009
1    4991
Name: count, dtype: int64
********************
hasStormProtector
0    5001
1    4999
Name: count, dtype: int64
********************
basement
2192    6
6899    6
1421    6
4170    6
5688    5
       ..
1935    1
8267    1
721     1
5775    1
8485    1
Name: count, Length: 6352, dtype: int64
********************
attic
3127    7
6156    6
9949    6
9333    6
8481    6
       ..
5503    1
1780    1
4550    1
8204    1
6174    1
Name: count, Length: 6267, dtype: int64
********************
garage
253    24
955    21
745    20
984    20
765    20
       ..
632     4
483     3
887     3
589     2
282     2
Name: count, Length: 901, dtype: int64
********************
hasStorageRoom
1    5030
0    4970
Name: count, dtype: int64
********************
hasGuestRoom
2     942
10    926
9     916
0     914
8     913
4     911
1     910
3     906
6     904
7     884
5     874
Name: count, dtype: int64
********************
price
7559081.5    1
7781711.5    1
3619052.8    1
7310814.9    1
8341664.0    1
            ..
5302289.6    1
4792760.2    1
2454663.5    1
3364167.5    1
146708.4     1
Name: count, Length: 10000, dtype: int64
********************

In [437]:
#it is showing ki 47831 squareMeters ke 3 apartment hain

### Checking for null vallues

In [439]:
data.isna().sum()

squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
dtype: int64

In [440]:
#no null values

### checking count of values

In [442]:
data['numberOfRooms'].value_counts()

numberOfRooms
54    129
4     120
22    119
47    118
3     116
     ...
6      85
31     84
34     84
40     82
9      75
Name: count, Length: 100, dtype: int64

In [443]:
# this describes that there are 129 apartments having 54 bedrooms

In [444]:
 data.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

### Price per sq feet

In [446]:
data['price_per_sqft'] = (data['price'] * 100000) / (data['squareMeters'] * 10.764)

In [447]:
data['price_per_sqft']

0       929856.873259
1       930045.132529
2       929596.653816
3       929298.994613
4       930625.627653
            ...
9995    949615.645129
9996    930732.874961
9997    929679.813098
9998    929259.817886
9999    946496.036170
Name: price_per_sqft, Length: 10000, dtype: float64

In [448]:
data.describe()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,price_per_sqft
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.00000,10000.00000,10000.000000,10000.00000,1.000000e+04,1.000000e+04
mean,49870.13120,50.358400,0.508700,0.496800,50.276300,50225.486100,5.510100,5.521700,2005.48850,0.499100,0.499900,5033.103900,5028.01060,553.12120,0.503000,4.99460,4.993448e+06,9.333603e+05
std,28774.37535,28.816696,0.499949,0.500015,28.889171,29006.675799,2.872024,2.856667,9.30809,0.500024,0.500025,2876.729545,2894.33221,262.05017,0.500016,3.17641,2.877424e+06,1.941253e+04
min,89.00000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1990.00000,0.000000,0.000000,0.000000,1.00000,100.00000,0.000000,0.00000,1.031350e+04,9.290652e+05
25%,25098.50000,25.000000,0.000000,0.000000,25.000000,24693.750000,3.000000,3.000000,1997.00000,0.000000,0.000000,2559.750000,2512.00000,327.75000,0.000000,2.00000,2.516402e+06,9.296969e+05
50%,50105.50000,50.000000,1.000000,0.000000,50.000000,50693.000000,5.000000,5.000000,2005.50000,0.000000,0.000000,5092.500000,5045.00000,554.00000,1.000000,5.00000,5.016180e+06,9.302314e+05
75%,74609.75000,75.000000,1.000000,1.000000,76.000000,75683.250000,8.000000,8.000000,2014.00000,1.000000,1.000000,7511.250000,7540.50000,777.25000,1.000000,8.00000,7.469092e+06,9.314063e+05
max,99999.00000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2021.00000,1.000000,1.000000,10000.000000,10000.00000,1000.00000,1.000000,10.00000,1.000677e+07,1.493730e+06

In [449]:
#new col is added price per sqft

In [450]:
data.shape

(10000, 18)

In [451]:
data

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,price_per_sqft
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5,929856.873259
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5,930045.132529
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1,929596.653816
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2,929298.994613
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0,930625.627653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1726,89,0,1,5,73133,7,6,2009,0,1,9311,1698,218,0,4,176425.9,949615.645129
9996,44403,29,1,1,12,34606,9,4,1990,0,1,9061,1742,230,0,0,4448474.0,930732.874961
9997,83841,3,0,0,69,80933,10,10,2005,1,1,8304,7730,345,1,9,8390030.5,929679.813098
9998,59036,70,0,0,96,55856,1,3,2010,0,1,2590,6174,339,1,4,5905107.0,929259.817886
9999,1440,84,0,0,49,18412,6,10,1994,1,0,8485,2024,278,1,6,146708.4,946496.036170

In [452]:
## Droping unnecessary columns

In [453]:
data.drop(columns=['cityCode'],inplace=True)

In [454]:
data.drop(columns=['numPrevOwners'],inplace=True)
data.drop(columns=['hasStorageRoom'],inplace=True)
data.drop(columns=['price_per_sqft'],inplace=True)
data.drop(columns=['isNewBuilt'],inplace=True)

In [455]:
data.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,...,basement,attic,garage,hasGuestRoom,price
0,75523,3,0,1,63,...,4313,9005,956,7,7559081.5
1,80771,39,1,1,98,...,3653,2436,128,2,8085989.5
2,55712,58,0,1,19,...,2937,8852,135,9,5574642.1
3,32316,47,0,0,6,...,659,7141,359,3,3232561.2
4,70429,19,1,1,90,...,8435,2429,292,4,7055052.0

### Saving the final dataset to be used

In [457]:
data.to_csv("final_dataset.csv")

## Making logistic regrssion model

In [459]:
X=data.drop(columns = ['price'])
y=data['price']

### Importing all required libraries

In [461]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline 
from sklearn.metrics import r2_score

from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

### Train Test split

In [463]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [464]:
X_train.shape

(8000, 12)

In [465]:
y_train.shape

(8000,)

### Applying linear regression

In [467]:
#column transformation of noOfRooms
column_trans = make_column_transformer((OneHotEncoder(sparse_output=False),['numberOfRooms']),remainder='passthrough')

In [468]:
#applying linear regressiion
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
from sklearn.preprocessing import StandardScaler
#applying scaler
scaler=StandardScaler()
#x being feature matrix 


# removing these lines as this is  a incorrect way to remove data bcz The above scaling and fitting are not tied to the pipe, so it does not reflect how the data is being processed during actual pipeline fitting or prediction.
# X_scaled = scaler.fit_transform(X)
# lr.fit(X_scaled , y)

### Making pipeline

In [470]:
# #will go to column tranformer and put the into scaler and then   put it into linearRegression and then it will give output
# pipe=make_pipeline(column_trans,scaler,lr)


# Create pipeline including column transformation, scaling, and regression model
pipe = make_pipeline(column_trans, StandardScaler(), LinearRegression())

In [471]:
#fitting pipe for x train and y train
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['numberOfRooms'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [472]:
# prediction from the training
y_pred_lr = pipe.predict(X_test)

In [473]:
# checking accuracy 
r2_score(y_test,y_pred_lr)

0.9999995604147965

- We got a 99% of accuracy

### Using lasso regression

In [476]:
lasso=Lasso()

In [477]:
pipe = make_pipeline(column_trans,scaler,lasso)

In [478]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['numberOfRooms'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [479]:
#prediction and accuracy checking
y_pred_lasso = pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

0.9999995524821074

- Again  lasso is also giving  99 % accuracy

### Using Ridge regression

In [482]:
ridge = Ridge()

In [483]:
pipe = make_pipeline(column_trans,scaler, ridge)

In [484]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse_output=False),
                                                  ['numberOfRooms'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [485]:
y_pred_ridge = pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

0.9999995459015996

- Again from ridge regression we got an accuracy of 99%

- almost all are giving same accuracy but linear regresion gave sllightly more

In [488]:
# checking accuracy at one place
print("No Regularization:", r2_score(y_test,y_pred_lr))
print("Lasso:",r2_score(y_test,y_pred_lasso))
print("Ridge:", r2_score(y_test,y_pred_ridge))

No Regularization: 0.9999995604147965
Lasso: 0.9999995524821074
Ridge: 0.9999995459015996

### Saving the model

In [490]:
import pickle

In [491]:
#save the entire pipeline (pipe), which includes the preprocessing steps and the regression model:
with open('linear_model.pkl', 'wb') as file:
    pickle.dump(pipe, file)